<style>
  td:first-child {
    width: 80px;
  }
</style>

<body>
  <h1>Products!</h1>

  <table>
    <tr>
      <th>&nbsp;</th>
      <th>Product</th>
      <th>Description</th>
    </tr>
    <!-- Iterate through products table for data -->
    <tr>
      <td>
        <img src="<% asset_path 'Teriyaki-Beef-Jerky.jpg' %>" alt="Teriyaki Image"/>
      </td>
      <td>Teriyaki</td>
      <td>Meat</td>
    </tr>
    <tr>
      <td>
        <img src="<% asset_path 'habanero-beef-jerky.jpg' %>" alt="Habanero Image"/>
      </td>
      <td>Spicy Habanero</td>
      <td>Spicy Meat</td>
    </tr>
  </table>
</body>